#header{
    position:absolute;
    height: 10vh;
    width: 100%;
    display: inline-flex;
}

#header img{
    margin-left: 15px;
    margin-top: 10px;
    height: 10vh;
    width: 20vw;
}

.menu-icon {
    color: white;
    height: 3vh;
    padding-bottom: 18px;
    padding: 18px;
    margin-left: 95px;
}

.hover-div{
    margin-left: 45%;
    margin-top: 5%;
    width: 40px;
}

.nav-bar{
    display: none;
    background-color: rgba(45, 44, 47, 0.864);
    position: absolute;
    margin-top: -1%;
    margin-left: -75%;
    padding-right: 10%;
    width: 100vw;
}


.nav-bar button{
    background-color: rgba(78, 77, 83, 0);
    font-size: 1.4rem;
    height: 5vh;
    padding-left: 30vw;
    padding-right: 30vw;
    border: 0px;
    color: white;
    font-weight: 700;
}

.nav-bar button:hover{
    color: rgb(21, 7, 83);
    background-color: whitesmoke;
}

.nav-bar ul{
    list-style: none;
}

.nav-bar ul li {
    padding-top: 12px;
} 

.nav-bar ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-bar ul li a:hover{
    background-color: whitesmoke;
    color: rgb(21, 7, 83);
    padding-left: 30%;
    padding-right: 30%;
}

.hover-div:hover .nav-bar{
    display: block;
    z-index: 1;
}

#footer{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

#footer p{
    color: whitesmoke;
    font-size: large;
    text-align: center;
}

/* tablet*/
@media only screen and (min-width:768px){

    #header img{
        margin-left: 15px;
        margin-top: 10px;
        height: 14vh;
        width: 17vw;
    }

    .menu-icon{
        display: none;
    }

    .nav-bar{
        display: block;
        width: 58vw;
        padding: 0px;
        margin-left: -30%;
        margin-top: -5%;
        border-top: 0px;
        background-color: rgba(78, 77, 83, 0);
        height: 5vh;
    }

    .nav-bar button{
       padding: 0px;
       margin-top: -7%;
       margin-left: 10px;
    }

    .nav-bar ul {
        display: inline-flex;
    }
 
    .nav-bar ul li a {
        padding-left: 14px;
        padding-right: 14px;
    }

    .nav-bar ul li a:hover{
        padding: 0px;
        color: rgb(13, 4, 53);
    }
}


/* desktop */
@media only screen and (min-width:1200px){

    #header img{
        margin-left: 16px;
        margin-top: 15px;
        height: 15vh;
        width: 11vw;
    }

    .nav-bar{
        margin-left: -200px;
    }

    .nav-bar ul li a {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 1.8rem;
    }

    .nav-bar button{
        margin-top: -4%;
        font-size: 1.44rem;
        margin-left: 22%;
        font-size: 1.8rem;
    }
}